/* Custom color theme properties */
:root {
  --f7-theme-color: #ff0027;
  --f7-theme-color-rgb: 255, 0, 39;
  --f7-theme-color-shade: #d60000;
  --f7-theme-color-tint: #ff0829;
}

/* Your app custom styles here */